<style>
  body {
    margin: 0;
    padding: 0;
    overflow-y: hidden;
  }
</style>
<div
  style="
    min-height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
  "
>
  <h1>Google Sign in</h1>
  <a class="button google" href="/v1/auth/google">Sign in with Google</a>
</div>
